
h2 {
  width: 100%;
  text-align: center;
}

p {
  max-width: 40em;
  padding-right: 1em;
  padding-left: 1em;
}

form {
  text-align: center;
}

.bordered {
  border-style: solid;
  border-width: 1px;
  border-color: #888888;
  border-radius: 0.3em;
  padding: 1em;
  margin: 1em;
}

.entry-table {
  padding-right: 1em;
  padding-left: 1em;
}

.entry-table a {
  text-decoration: none;
}

.entry-table td {
  padding: 0.1em;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #888888;
}

.heading td {
  text-align: center;
  border-top-width: 0px;
}

footer {
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  width: 100%;
  color: #888888;
}

footer a {
  color: #888888;
}

#input-ip {
  width: 8em;
}

#input-port {
  width: 3em;
}

#input-name {
  width: 8em;
}

.form-entry {
  display: inline-block;
  padding: 0.1em;
}

.submit {
  display: block;
  padding: 0.1em;
}

.entry-table .domain {
  text-align: right;
}

.entry-table .ip {
  text-align: left;
}

.entry-table .port {
  text-align: right;
}

