<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <title>Freifunk Website Proxy</title>
  </head>
  <body>
    <h2>Freifunk Website Proxy</h2>
    <p>
      Du hast eine Webseite im Freifunknetz?
      Mit diesem Proxy kannst du die über das Internet und einen selbstgewählten Namen
      erreichbar machen.
    </p>
    <form action="/add-page" method="post" class="bordered">
      <div class="form-entry">
        IP:   <input type="text" name="ip"   id="input-ip"   placeholder="{{ NETWORK.network_address + 1 }}">
      </div>
      <div class="form-entry">
        Port: <input type="text" name="port" id="input-port" placeholder="80" value="80">
      </div>
      <div class="form-entry">
        Name: <input type="text" name="name" id="input-name" placeholder="chocolate">.{{DOMAIN}}
      </div>
      <div class="submit">
        <input type="submit" value="Eintragen">
      </div>
    </form>
    <p>
      Folgende Adressen sind schon eingetragen:
    </p>
    <table class="bordered entry-table">
      <tr id="websites" class="heading">
        <td>Domain</td>
        <td>IP</td>
        <td>Port</td>
      </tr>
      % for website in sorted(proxy.websites, key=lambda w: w.domain):
        <tr id="{{ website.id }}">
          <td class="domain"><a href="http://{{ website.domain }}">{{ website.domain }}</a></td>
          <td class="ip"><a href="http://{{ website.host }}:{{ website.port }}">{{ website.host }}</a></td>
          <td class="port">{{ website.port }}</td>
        </tr>
      % end
    </table>
    <footer>
      Du kannst mithelfen und <a href="https://github.com/niccokunzmann/freifunk-website-proxy">diesen Dienst verbessern</a>.
      Dieser Dienst steht unter <a href="https://opensource.org/licenses/AGPL-3.0">AGPL v3.0</a>.
      Der Quelltext kann <a href="/source.zip">heruntergeladen werden</a>.
    </footer>
  </body>
</html>

